<div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of pdatas,let j=index">
            <th scope="row">{{j+1}}</th>
            <td class="text-center"><h4>{{i.pname}}</h4>
                <img src="{{i.image}}" alt="" style="height: 150px;">
            </td>
            <td>{{i.description}}</td>
            <td>{{i.price}}</td>
            <td class="p-3">
                  <button (click)="remove(i._id)" class="btn btn-danger w-100">Remove</button>
                  <button (click)="addtoCart(i.pId,i._id)" class="btn btn-success w-100 mt-3">Add to cart</button>
    
           </td>
          </tr>
        </tbody>
      </table>
</div>