<h1 class="text-center">Manage Users</h1>
<table class="table table-dark text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of users,let j=index">
        <th scope="row">{{j+1}}</th>
        <td>{{i.email}}</td>
        <td>{{i.psw}}</td>
        <td>
          <div style="display:flex;">
            <button (click)="deleteUser(i._id)" class="btn btn-danger mt-3 me-2"><i class="fa-solid fa-trash-can"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>